body {
    background-image: url("");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover; 
    height: 100px;
    color:white;
    font-size: 30px;
   }