.topnav{
  float: right;
  }

  button{
    color: black;
    background: black
  }
body {
    background: black;

    display:grid;
    grid-template-columns: 500px auto 500px;
    grid-template-rows: 100px 700px auto;
    grid-gap: 1em;
    
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  body * {
    color: rgb(203, 203, 203);
    /*border: 2px solid lightslategrey;
    border-radius: 5px;*/
  }
  
    header, footer {
        background-image: url("images/plainblack.jpeg");
        background-size: contain;
        background-repeat: no-repeat;
        grid-column: 1 / 4;
     }
  
  main {
  }
  
  footer {
    background-image: url("images/plainblack.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / 4;
  }
  
  .left{
  }
  
  .right {
  }

  img {
    border: 2px solid lightslategrey;
    border-radius: 5px;
    height: 250px;
    width: auto;
  }
  

  