<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/characterstyles.css">
    <title>All characters</title>
  </head>
  <body>
  
    <h1>Who might you find at Hogwarts?</h1>
    <ul class="characters">
      <% for (let i = 0; i < characters.length; i++) { %>
      <li><a href="/characters/<%= characters[i].id%>"><%= characters[i].name %></a></li>
      <img src="<%= characters[i].img%>" alt="" />

      </form>

      <br /><br />
      <% } %>
    </ul>
  </body>
</html>